@model ONLINESHOP.Models.User
@{
    ViewBag.Title = "registration";
}

 
@using (Html.BeginForm("registration1", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(false)

                        <h2>Enter Requested info</h2>
    
    <div class="form-group">
        @Html.Label("Name", new { @class = "col-md-2col-xs-2 col-sm-2 control-label" })
        <div class="col-md-3 col-xs-3 col-sm-3">
            @Html.TextBoxFor(user => user.Name, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Email", new { @class = "col-md-2 col-xs-2 col-sm-2 control-label",id="emdiv"})
        <input type="button" id="chkBtn" value="Check Availability"/>
        <div class="col-md-3 col-xs-3 col-sm-3">
            @Html.TextBoxFor(user => user.Email, new {id="emailBox" ,type="email", @class = "form-control"})
            <p id="uA" style="color:green" hidden>Username Available</p>
        <p id="uNa" style="color:red" hidden>Username not available</p>
        
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Password", new { @class = "col-md-2 col-xs-2 col-sm-2 control-label" })
        <div class="col-md-3 col-xs-3 col-sm-3">
            @Html.TextBoxFor(user => user.Password, new {type="password", @class = "form-control" })
        </div>
    </div>
                
                
                   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" id="signbtn" value="Signup" />
        </div>
    </div>
}
    @Scripts.Render("~/bundles/jquery")
@section iii{
<script>
    $(document).ready(function () {
        $('#chkBtn').click(function(){
        
            var x = $('#emailBox').val();

            $.getJSON("/Home/validEmail?email=" + x, function (data) {
                if (data == true) {
                    $("#uA").show();

                }
                else {
                    $("#uNa").show();

                }
            });

        
        });
        
 
    });

</script>
    
    }